{{!-- layout.hbs --}}
{{!-- Copyright (c) 2024 Ishan Pranav --}}
{{!-- Licensed under the MIT license. --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <title>Spotted</title>
    <link href="/styles/layout.css"
          rel="stylesheet"
          type="text/css" />
    <link href="/styles/custom-bootstrap.css"
          rel="stylesheet"
          type="text/css" />
</head>

<body class="d-flex flex-column h-100">
    <header class="py-3 mb-3 border-bottom">
        <div class="container-fluid d-grid gap-3 align-items-center"
             style="grid-template-columns: 1fr 2fr;">
            <div class="dropdown">
                <a href="#"
                   class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <svg class="bi me-2"
                         width="40"
                         height="32">
                        <use xlink:href="#bootstrap" />
                    </svg>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item active"
                           href="#"
                           aria-current="page">Overview</a></li>
                    <li><a class="dropdown-item"
                           href="#">Inventory</a></li>
                    <li><a class="dropdown-item"
                           href="#">Customers</a></li>
                    <li><a class="dropdown-item"
                           href="#">Products</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item"
                           href="#">Reports</a></li>
                    <li><a class="dropdown-item"
                           href="#">Analytics</a></li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <form class="w-100 me-3"
                      role="search">
                    <input type="search"
                           class="form-control"
                           placeholder="Search..."
                           aria-label="Search">
                </form>
                {{#if user}}
                <div class="flex-shrink-0 dropdown">
                    <a href="#"
                       class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="{{user.imageURL}}"
                             alt=""
                             width="32"
                             height="32"
                             class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li>
                            <h6 class="dropdown-header">
                                {{user.name}}
                            </h6>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="#">New project...</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="#">Settings</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="#">Profile</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <form method="post"
                                  action="/auth/sign-out">
                                <button class="dropdown-item"
                                        type="submit"
                                        value="Sign out">
                                    Sign out
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
                {{else}}
                <div class="flex-shrink-0">
                    <a class="nav-link"
                       href="/auth/google">
                        Sign in
                    </a>
                </div>
                {{/if}}
            </div>
        </div>
    </header>
    <div class="col-lg-8 mx-auto p-4 py-md-5">
        <main class="flex-shrink-0">
            <div>{{{ body }}}</div>
        </main>
        <footer class="footer py-3 my-4 small">
            <p class="text-center text-body-secondary">
                <span>
                    Copyright &copy; 2024 Ishan Pranav. Licensed under the MIT
                    license. Hello, {{user.name}}.
                </span>
                <br />
                <span>Layouts and styles provided by </span>
                <a class="text-decoration-none"
                   href="https://getbootstrap.com/"
                   target="_blank">Bootstrap.</a>
            </p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous">
            </script>
</body>

</html>